@import "./common.css";

body {
  background-color: var(--bg-color);
}

.g-main__container {
  font-family: songti sc, serif;
  color: #d1d5db;
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.g-main__wrapper {
  width: 700px;
  max-width: 80%;
  text-align: left;
  box-sizing: border-box;
}

.g-main__title {
  font-size: 50px;
  margin-bottom: 20px;
}

.g-main__content {
  font-size: 18px;
  line-height: 1.5em;
  text-indent: 2em;
}

.g-main__content p {
  margin-bottom: 20px;
}

.g-main__content p:hover {
  color: #fff;
}

.g-main__content p a {
  margin-bottom: 20px;
  color: #7dd3fc;
  position: relative;
  display: inline-block;
  text-indent: 0;
}

.g-main__content p a:hover {
  color: #b7e6fd;
  text-shadow: 0px 0px 5px #7dd3fc;
}

.g-main__nav--wrapper {
  line-height: 1.5em;
}

.g-main__nav--wrapper a span {
  position: absolute;
  white-space: nowrap;
  display: inline-block;
  left: 0;
  font-size: 12px;
  top: -1em;
  text-align: center;
  width: 100%;
}
